/* some style */

@media print {
  @page { margin: 0; }
  .page { margin: 1.5cm; }
}

img {
  width: 100%;
}

table {
  width: 60%;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

td > input {
  box-sizing: border-box;
  width: 100%;
}

@media print {
  td > input {
    border-width: 0px;
  }
}
